
/*********************
GENERAL STYLES
*********************/
#card-nav {
	padding: 20px;
	height: auto;
	position: relative;
	margin-top: calc(25% - 100px);
	
}



/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/


/*********************
SIDEBARS & ASIDES
*********************/




/*********************
FOOTER STYLES
*********************/
