.string > .nut {
  width: 40px;
  position: relative;
  background: linear-gradient(90deg, rgba(144, 139, 139, 1) 0%, rgba(167, 145, 148, 1) 4%, rgba(199, 189, 192, 1) 100%);
  display: inline-block;

  label {
    text-align: center;
    height: 50px;
    width: 50px;
  }
}