
$R  : hsl(0, 100%, 77%);
$m2 : hsl(23, 100%, 77%);
$M2 : hsl(32, 100%, 77%);
$m3 : hsl(46, 100%, 77%);
$M3 : hsl(55, 100%, 77%);
$P4 : hsl(96, 100%, 77%);
$TT : hsl(146, 100%, 77%);
$P5 : hsl(194, 100%, 77%);
$m6 : hsl(240, 100%, 77%);
$M6 : hsl(270, 100%, 77%);
$m7 : hsl(310, 100%, 77%);
$M7 : hsl(340, 100%, 77%);